* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    text-align: center;
}

input {
    height: 10px;
    opacity: 60%;
}

.createContact {
    border: 2px solid slategray;
    margin-left: 20px;
    padding: 10px;
}

.titleSelect {

}

.name {

}

.address {

}