* {
    box-sizing: border-box;
    font-weight: 400;
}

h4 {
    color: lightgray;
}

.componentBorder {
    border: 2px solid slategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 20px;
    height: 180px;
    line-height: .5px;
    margin-bottom: 10px;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.thumbNail img {
    border-radius: 50%;
    vertical-align: middle;
    width: 150px;
    height: 150px;
}

.informationBox {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.nameInfo {
    display: flex;
}

.nameInfo .name {
    padding-left: 10px;
}

.addressBox {
    margin: 0;
}